@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-lighter: rgb(210, 230, 210);
  --background: rgb(200, 220, 200);
  --background-darker: rgb(180, 200, 180);
  --background-really-darker: rgb(160, 180, 160);
  --contrast-element: rgb(30, 50, 30);
  --contrast-element-darker: rgb(10, 30, 10);
  --header-height: 50px;
  --global-chat-width: 300px;
  --private-chats-container-width: 800px;
  --private-chat-height: 300px;
  --private-chat-width: 250px;
  --footer-height: 25px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-lighter: rgb(50, 70, 50);
  --background: rgb(30, 50, 30);
  --background-darker: rgb(10, 30, 10);
  --background-really-darker: rgb(10, 20, 10);
  --contrast-element: rgb(140, 160, 140);
  --contrast-element-darker: rgb(120, 140, 120);
  }
}

body {
  color: var(--contrast-element);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

footer {
  bottom: 0;
  position: fixed;
  width: 100%;
  background-color: darkred;
  height: var(--footer-height);
  text-align: center;
}

input {
  background-color: var(--background-lighter);
  outline: none;
}

.private-chat-header {
  background-color: var(--background-really-darker);
  color: var(--contrast-element-darker);
  height: 40px;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 0px 0.5px 2px black; 
}

.chat {
  position: fixed;
  width: var(--global-chat-width);
  top: var(--header-height);
  background-color: var(--background-darker);
  box-shadow: 1px 0px 3px black;
  height: 100vh;
  left: 0;
}

.private-chats-container {
  position: fixed;
  width: var(--private-chats-container-width);
  height: var(--private-chat-height);
  left: calc(100vw - var(--private-chats-container-width));
  top: calc(100vh - var(--private-chat-height) - var(--footer-height));
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
}

.close-private-chat {
  right: 0px;
}

.private-chat {
  width: var(--private-chat-width);
  height: var(--private-chat-height);
  background-color: var(--background-darker);
  box-shadow: 1px 1px 5px black;
}

.search-friend-chat {
  background-color: var(--background-lighter);
  width: 100%;
  border: var(--contrast-element) solid 1px;
}

.search-friend-chat:focus {
  outline: none;
  width: 100%;
  border: var(--contrast-element) solid 2px;
}

.friends-to-chat {
  padding-top: 20px;
  box-shadow: 1px 1px 5px black;
  background-color: var(--background-darker);
  width: 200px;
  position: fixed;
  right: 0px;
  overflow-y: scroll;
  overflow-x: hidden;
  height: calc(100vh - var(--header-height) - var(--footer-height));
  top: var(--header-height);
  padding-bottom: var(--private-chat-height);
}

.friends-to-chat::-webkit-scrollbar {
  display: none;
}

.chat-friend {
  box-shadow: 0.5px 0.5px 2px black;
  margin: auto;
  margin-top: 10px;
  border: var(--contrast-element) solid 1px;
  border-radius: 5px;
  width: 80%;
  text-align: center;
  font-size: 20px;
}

.chat-friend:hover {
  width: 90%;
  font-size: 21px;
}

.user-panel {
  margin-left: var(--global-chat-width);
  margin-top: var(--header-height);
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 60px;
  width: calc(100vw - var(--global-chat-width) - 200px);
}

.user-panel-header {
  background-color: var(--background-darker);
  box-shadow: 0px 1px 3px black;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  height: var(--header-height);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.user-panel-point {
  border: var(--contrast-element) solid 1px;
  margin-top: 5px;
  font-size: 18px;
  background-color: var(--background);
  width: 140px;
  height: 35px;
  box-shadow: 0px 1px 3px black;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.header-search {
  border: var(--contrast-element) solid 1px;
  border-radius: 5px;
  margin-top: 10px;
  width: 200px;
  height: 30px;
}

.user-panel-point:hover {
  border: var(--contrast-element) solid 2px;
  font-size: 20px;
  margin-top: 5px;
  background-color: var(--background-lighter);
  width: 160px;
  height: 40px;
  box-shadow: 0px 1px 3px black;

}

.other-user-message {
  box-shadow: 1px 1px 2px black;
  padding: 5px;
  border: 1px solid var(--contrast-element);
  border-radius: 5px;
  margin: 5px;
  margin-left: 10px;
  width: 200px;
  word-wrap: break-word;
}

.user-message {
  word-wrap: break-word;
  box-shadow: 1px 1px 2px black;
  margin: 5px;
  margin-left: 90px;
  padding: 5px;
  border: 1px solid var(--contrast-element);
  border-radius: 5px;
  width: 200px;
}

.global-chat-text-input {
  word-wrap: break-word;
  border: var(--contrast-element) solid 1px;
  background-color: var(--background-lighter);
  width: 100%;
  height: 60px;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.private-chat-messages {
  overflow-y: scroll;
  overflow-x: hidden;
  height: calc(var(--private-chat-height) - 70px);
}

.private-chat-messages::-webkit-scrollbar {
  display: none;
}

.friends-container {
  width: 100%;
  background-color: var(--background-lighter);
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 30px;
}

.friend {
  background-color: var(--background);
  width: 200px;
  height: 80px;
  margin-bottom: 20px;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.private-chat-input {
  width: 100%;
  height: 30px;
  background-color: var(--background-lighter);
  border-top: var(--contrast-element-darker) solid 1px;
}

.global-chat {
  overflow-y: scroll;
  overflow-x: hidden;
  height: calc(100vh - 40px - var(--header-height) - var(--footer-height));
}

.global-chat::-webkit-scrollbar {
  display: none;
}


.login-container {
  padding: 50px;
  display: flex;
  flex-direction: column;
  border: var(--contrast-element) solid 2px;
  border-radius: 10px;
  width: 350px;
  margin: auto;
  margin-top: 100px;
}

.login-title {
  padding-bottom: 20px;
  text-align: center;
  font-size: 40px;
  font-weight: 600;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-input {
  border: var(--contrast-element) solid 1px;
  border-radius: 5px;
  margin: 2px;
  padding: 2px;
  background-color: var(--background-lighter)
}

.login-input:focus {
  outline: none;
  border: var(--contrast-element) solid 2px;
}

.important-point-login {
  font-weight: 600;
} 

.important-point-login:hover {
  color: var(--contrast-element-darker);
  font-weight: 600;
}

.login-button {
  margin: 10px;
  font-size: 20px;
  font-weight: 800;
}

.error {
  color: red;
}

.my-profile-header {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100px;
  width: 100%;
  background-color: var(--background-darker);
}

.my-profile-header-name {
  display: flex;
  height: 100%;
  font-size: 40px;
  font-weight: 600;
  justify-content: start;
  align-items: end;
}

.profile {
 width: 100%;
 height: 100%;
 background-color: var(--background-lighter);
}

.post {
  display: flex;
  flex-direction: column;
  width: 80%;
  border: solid var(--contrast-element);
  border-radius: 10px;
  align-items: center;
}

.posts-container {
  padding-top: 40px;
  gap: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
}

.post-image {
  width: 400px;
  max-width: 300px;
  max-height: 400px;
}

.post-user {
  font-size: 24px;
}

.post-content {
  font-size: 18px;
  width: 60%;
  border: 1px solid var(--background-darker);
  border-radius: 5px;
}

.post-delete {
  font-size: 16px;
}

.post-options {
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-bottom: 20px;
  background-color: var(--background);
  border: 1px solid var(--contrast-element);
  border-radius: 5px;
}

.my-profile-options {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.edit-profile-type {
  gap: 10px;
  display: flex;
  flex-direction: row;
}

.info-about-logout {
  font-size: 10px;
}

.new-post-content {
  text-align: start;
  height: 100px;
  width: 80%;
  word-wrap: break-word;
  padding: 10px;
  box-sizing: border-box;
}

.new-post {
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  width: 80%;
  height: 200px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  background-color: var(--background);
}